<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>用户界面</title>
</head>
<body  layout:fragment="content">
<div>
<!--    I am a student!-->
    我是用户！
    <img src="../static/images/01.jpg" alt="用户头像">
    <div><a href="/welcome">欢迎页面</a></div>
    <div>
        <img src="../static/images/01.jpg" alt="显示不出来的图片">
        <div><a href="/books">数据库页面</a></div>
    </div>

    <div><a href="/hello">返回到hello页面</a></div>
<!--    <div layout:fragment="content">-->
<!--        <a href="/books">数据库页面</a>-->
<!--    </div>-->
</div>
<h5>hello 这是用户界面</h5>

</body>
</html>